* {
    padding: 0;
    margin: 0;
}
body{
    background-color:lightblue;
}
.welcome {
    display:none;
    text-align: center;
    opacity: 0;
}
.nav-items {
    display: none;
    text-align: center;
    opacity: 0;
}
.p-img {
    position: relative;
    height: 100px;
    width: 100px;
}