* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #2267;
    height: 350px;
    width: 300px;
}
#welcome {
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    border: 15px solid navajowhite;
    
}
#menu-toggle {
    position: relative;
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    
}
.nav-items {
    text-decoration: none;
    height: 200px;
    float: left;
    width: 200px;
    border: 15px solid blue;
    border-radius: 9px;
    text-align: center;
    opacity: 1;
}
.name {
    text-align: center;
    float: left;
    color:#112abcd2;
    font-size: 90px;
    margin: 10px;
}
.student {
    font-size: 50px;
    float: left;
    color: aqua;
    text-align: center;
    margin: 10px;
}
.welcome {
    text-align: center;
    float: right;
    

}