* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #2267;
    height: 350px;
    width: 300px;
}
#welcome {
    height: 200px;
    width: 200px;
    text-align: center;
    justify-content: center;
    border: 15px solid navajowhite;
    
}

    
.menu {
    text-decoration: none;
    text-align: center;
}
.nav-items {
    text-decoration: none;
    list-style: none;
    float:right;
    display: none;
    text-align: center;
    justify-content: center;
    opacity: 0;
    padding: 10px;
    margin: 10px;
}
.name {
    text-align: center;
    float: left;
    color:#112abcd2;
    font-size: 90px;
    margin: 10px;
}

.welcome {
    text-align: center;
    float: right;
    display: none;
    opacity: 0;
    

}